<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ProxiBanquev3Client</display-name>
	<welcome-file-list>
		<welcome-file>login.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>MaServlet1_Login</servlet-name>
		<servlet-class>fr.gtm.presentation.MaServlet1_Login</servlet-class>
	</servlet>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/error_page.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/error_page.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error_page.jsp</location>
	</error-page>
</web-app>
